*{
    font-family: Georgia, serif;;
}

.navbar {
    background-color: #151516;
}

.nav-link {
    color: white;
    position: relative; 
    text-decoration: none; 
    display: inline-block; 
}
.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
}
.nav-link:hover::after {
    width: 100%;
}

.title-a {
    color: black;
    position: relative;
    text-decoration: none;
    display: inline-block; /* Add this line */
}

.title-a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s;
}

.title-a:hover::after {
    width: 100%;
}

.typewriter {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end 3.5s 4;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


